@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* === BASE ===*/

:root {

  /* === COLORS ===*/

  --dark-tone: #1a1a1a;
  --main-white: #fff;
  --pure-white: #f3f3f3;
  --offwhite: #dedede;

  /* === BORDERS ===*/

  --main-border: 1px solid rgba(255, 255, 255, 0.1);

  /* === BACKGROUND N BLOBS ===*/

  --blob1: #2aaac0;
  --blob2: #632fc4;
  --blob3: #702fc4; 
  --blob4: #2ac0a7;

  --blob-blur: 248px;

  --main-card-bg: rgba(255, 255, 255, 0.1);
  --main-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);


  /* === Header e Nav ===*/



  /* === FX ===*/



  /* === TRANSITIONS ===*/


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*== Icones ==*/

/*== Icones (CORRIGIDO) ==*/
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined'; 

  font-weight: normal;
  font-style: normal;
  font-size: 24px;  
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--offwhite);
  background-color: var(--dark-tone);
}


/*== Background ==*/

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(var(--blob-blur)); /*Porque é no elemento*/
  -webkit-filter: blur(--blob-blur); /*Porque é no elemento*/
  will-change: transform;
}

#blob1 {
  width: 400px;
  height: 400px;
  top: 100px;
  left: 160px;
  background-color: var(--blob1);
  animation: blob-position-1 15s infinite alternate ease-in-out;

}

#blob2 {
  width: 500px;
  height: 500px;
  left: 1000px;
  background-color: var(--blob2);
  animation: blob-position-2 18s infinite alternate ease-in-out;
  animation-delay: 5s;
}

#blob3 {
  width: 350px;
  height: 350px;
  bottom: -1000px;
  left: 400px;
  background-color: var(--blob3);
  animation: blob-position-3-4 20s infinite alternate ease-in-out;

}

#blob4 {
  width: 350px;
  height: 350px;
  bottom: -900px;
  left: 1400px;
  background-color: var(--blob4);
  animation: blob-position-3-4 20s infinite alternate ease-in-out;
}

@keyframes blob-position-1 {
  
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(100px, 150px) scale(1.2);
  }

}

@keyframes blob-position-2 {

  from {
    transform: translate(0 ,0) scale(1);
  }

  to {
    transform: translate(250px, -150px) scale(0.8);
  }
  
}

@keyframes blob-position-3-4 {

  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(-100px, 100px) scale(1.1);
  }
  
}


/*=== Header e Nav ===*/

header {
  position: fixed; /* Mantém o header fixo no topo da tela */
  top: 0;
  left: 0;
  width: 100%;
  display: flex; 
  justify-content: center;
  padding: 2rem; 
  z-index: 1000; 

}


.top-nav {
  margin: auto;
  width: 9rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  vertical-align: center;
  padding: 0.3rem 0.5rem;
  margin: auto;


  background-color: var(--main-card-bg);
  border: var(--main-border);

  backdrop-filter: blur(12px); /*Porque é atrás do elemento*/
  -webkit-backdrop-filter: blur(12px); /*Porque é atrás do elemento*/

  border-radius: 4rem;
  box-shadow: var(--main-box-shadow);

}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(26, 26, 26, 0.6);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.2s ease-in-out;

}

.nav-overlay ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-overlay span {
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: rgba(243, 243, 243, 0.2);
}

.nav-overlay li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  min-width: 250px;
  color: var(--pure-white);
  transition: background 0.2s ease;
  box-shadow: 0px 0px 24px rgb(0, 0, 0, 0.15);

}

.nav-overlay li a:hover {
  background: rgba(255, 255, 255, 0.20);
}


#i-logo {
  font-size: 1.5rem;
  text-align: center;
  transform: translate(2px, -2px);
  transition: text-shadow 0.3s ease-in-out;
}

#i-logo:hover {
  text-shadow: 0px 0px 8px rgb(255, 255, 255, 0.5);
  cursor: default;
}


.hamburger-btn {
  background: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 8px;
  z-index: 1001; 
  transition: background 0.2s ease-in-out;
}

.hamburger-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.hamburger-icon-wrapper {
  width: 1.3rem;
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon-wrapper .line {
  width: 100%;
  height: 1px;
  background-color: var(--pure-white);
  border-radius: 2px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburger-icon-wrapper .line {
  width: 100%;
  height: 2px;
  background-color: var(--pure-white);
  border-radius: 2px;
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

body.menu-open .line-1 {
  transform: translateY(calc(0.5rem - 1px)) rotate(45deg);
}

body.menu-open .line-2 {
  opacity: 0;
}

body.menu-open .line-3 {
  transform: translateY(calc(-0.5rem + 1px)) rotate(-45deg);
}

.divider-logo {
  width: 1px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-icon, .menu-item {
  color: var(--pure-white);
}

.menu-icon {
  padding: 0.25rem;
}

.menu-item {
  display: none;
}

body.menu-open .nav-overlay {
  opacity: 1;
  pointer-events: auto;
}

body.menu-open main,
body.menu-open footer {
    filter: blur(8px);
    transition: filter 0.25s ease-in-out; 
}


a {
  color: var(--pure-white);
}

/*=== BODY ===*/

main {
  margin: 8.5rem auto;
}

h1 {
  width: 70%;
  color: var(--main-white);
  background-color: rgba(255, 255, 255, 0.15);
  border: var(--main-border);
  text-align: center;
  
  padding: 0.75rem;
  margin: 0rem auto 2rem auto;
  border-radius: 3rem;
  box-shadow: var(--main-box-shadow);


}

section {
  margin-bottom: 2rem;
}

.card-container {
  padding: 2rem;
  margin: auto;

  width: 550px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(12px); /*Porque é atrás do elemento*/
  -webkit-backdrop-filter: blur(12px); /*Porque é atrás do elemento*/

  border-radius: 4rem;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
}





