@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* === BASE ===*/

:root {

  /* === COLORS ===*/

  --dark-tone: #1a1a1a;
  --pure-white: #f3f3f3;
  --offwhite: #dedede;

  /* === BG/BLOB ===*/

  --blob1: #C947C4;
  --blob2: #51a4d4;
  --blob3: #E2B176; 
  --blob4: #ff469c;

  --blob-blur: 248px;

  /* === FX ===*/



  /* === TRANSITIONS ===*/


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*== Icones ==*/

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
  'FILL' 0,
  'wght' 0,
  'GRAD' 0,
  'opsz' NaN
}

html {
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--offwhite);
  background-color: var(--dark-tone);
}


/*== Background ==*/

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.blob {
  position: absolute;
  border-radius: 50%;
  filter: blur(var(--blob-blur));
  -webkit-backdrop-filter: blur(--blob-blur);
  will-change: transform;
}

#blob1 {
  width: 400px;
  height: 400px;
  top: 100px;
  left: 160px;
  background-color: var(--blob1);
  animation: blob-position-1 15s infinite alternate ease-in-out;

}

#blob2 {
  width: 500px;
  height: 500px;
  left: 1000px;
  background-color: var(--blob2);
  animation: blob-position-2 18s infinite alternate ease-in-out;
  animation-delay: 5s;
}

#blob3 {
  width: 350px;
  height: 350px;
  bottom: -1000px;
  left: 400px;
  background-color: var(--blob3);
  animation: blob-position-3-4 20s infinite alternate ease-in-out;

}

#blob4 {
  width: 350px;
  height: 350px;
  bottom: -900px;
  left: 1400px;
  background-color: var(--blob4);
  animation: blob-position-3-4 20s infinite alternate ease-in-out;
}

@keyframes blob-position-1 {
  
  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(100px, 150px) scale(1.2);
  }

}

@keyframes blob-position-2 {

  from {
    transform: translate(0 ,0) scale(1);
  }

  to {
    transform: translate(250px, -150px) scale(0.8);
  }
  
}

@keyframes blob-position-3-4 {

  from {
    transform: translate(0, 0) scale(1);
  }

  to {
    transform: translate(-100px, 100px) scale(1.1);
  }
  
}


header {

}

nav {

}

#i-logo {

}

a {
  color: var(--pure-white);
}

