spring:
  application:
    name: mackmusic

  datasource:
    url: jdbc:mariadb://localhost:3310/mackenzie
    username: root
    password: Samira@#R500
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
